* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
	overflow: hidden;
}
.container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}
.fullscreenSection {
    width: 100vw;
    height: 100vh;
}
.partialscreenSection {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
button:active {
	filter: brightness(80%);
}